bundler_args: --without guard metrics
script: "bundle exec rake spec"
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - ruby-head
  - ree
  # - jruby
  - rbx
  # - rbx-2.0
notifications:
  irc: "irc.freenode.org#veritas"
