language: ruby
bundler_args: --without guard metrics
script: "bundle exec rake spec"
rvm:
  - ree
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - ruby-head
  - rbx-18mode
  - rbx-19mode
  - jruby-18mode
  - jruby-19mode
  - jruby-head
notifications:
  email:
    - dan.kubb@gmail.com
